@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Fredericka+the+Great&family=Neucha&display=swap');

@keyframes tile-box1-anim{
  0%{ opacity:0%; transform: translate(0px, 0px);}
  50%{opacity:100%; }
  70%{ transform: translate(-120px, 0px);}
  100%{ transform: translate(-100px, 0px);}
}

@keyframes tile-box2-anim{
  0%{ opacity:0%; transform: translate(0px, 0px);}
  50%{opacity:100%; }
  70%{ transform: translate(120px, 0px);}
  100%{ transform: translate(100px, 0px);}
}

@keyframes arrow-down{
  0%{top: 0px;}
  25%{top: -5px;}
  50%{top: 0;}
  75%{top: 5px;}
  100%{top:0px;}
}

@keyframes arrow-btn{
  0%{box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.1);}
  50%{box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.1);}
  100%{box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.1);}
}


body{
  margin:0;
  background-color: White;
  text-align: center;
  font-family: sans-serif;
}
#navbar{
  background: rgba(80, 80, 80, 0.6);
  position: fixed;
  z-index:1;
  top:0;
  left:0;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Neucha', cursive;
  font-size: 16px;
}
#top-btn{
  font-size: 20px;
}
#navbar ul{
   margin: 15px 10px 15px 0;
  display: flex;
}
#navbar ul li{
 margin: 0 30px 0 30px;
}
li {
list-style-type: none;
}

a{
  text-decoration:none;
}

.nav-btn{
min-width: 200px;
}

.nav-btn:link {
color: #edebeb;
}

.nav-btn:visited {
color: #edebeb;
}

.nav-btn:hover {
color: #ffd6d6;
}

.dropbtn {
  border: none;
  height: 100%;
  min-width: 200px;
  background: #444;
color: white;
  font-family: 'Neucha', cursive;
  font-size: 16px;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 50px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(90, 90, 90 ,0.7);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px gray;
  z-index: 1;
}
.drop-btn{
  color: white;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(0,0,0,0.5);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #666;
  color: #ffd6d6;
}

#blank{
  margin-left: 50px;
  min-width: 200px;
}

section{
  width: 100%;
  min-height: 100vh;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
section>h1{
padding: 20px;
}
.smallTitle{
  font-family: 'Caveat', cursive;
color: gray;
}
section > p{
color: gray;
}


h1{
  font-family: 'Fredericka the Great', cursive;
  margin-top: 20px;
  margin-bottom:20px;
}

.Tile-box{
  display: flex;
  flex-direction: row;
}

#Tile-box1{
animation-name: tile-box1-anim;
animation-duration: 1s;
animation-fill-mode: forwards;
}
#Tile-box2{
animation-name: tile-box2-anim;
animation-duration: 1s;
animation-fill-mode: forwards;
animation-delay: 0.5s;
}

.Tile{
  height: 300px;
  width: 258px;
  margin:15px;
  background: #ccc;
  transform: skew(-15deg);
  overflow:hidden;
  position: relative;
}
.Tile > a > img{
 transform: skew(15deg);
 margin-left: -175px; 
 position: absolute;
  z-index:-2;
   height: 300px;
}
.Tile > a>.hoverbg{
  height: 0px;
  width: 300px;
  background:black;
  position: absolute;
  transition: height 0.2s ease-out 0.1s;
  z-index:-1;
  opacity:0.3;
}

.Tile > a>.hoverbg1{
  top: 0;
  
}
.Tile > a>.hoverbg2{
  bottom: 0;
  
}
.Tile > a:hover >.hoverbg{
  height:150px;
}

.Tile> a> .hover-text-box{
  height: 300px;
  width:258px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index:0;
  position: absolute;
  left:0;
  opacity:0;
  color: white;
  font-size:40px;
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 3px 3px 3px black;
  transition: opacity 0.2s ease-out ;
}
.Tile> a> .hover-text-box>p{
transform: skew(15deg);
}
.Tile > a:hover >.hover-text-box{
  opacity:1;
}

#apng1{
  margin-left:-90px;
  margin-top: 50px;
  height: 200px;
  loop: 0;
}
#Tile4 > a > .hoverbg{
  margin-left:-170px;
}
#Tile1{
  background:DarkSeaGreen;
}
#Tile2{
   background:LightCyan;
}
#Tile3{
   background:CornSilk;
}
#Tile4{
  background: mistyrose;
  display: flex;
  align-item: center;
  justify-content: center;
}
#Tile5{
   background:Lavender;
}
#Tile6{
   background:Gainsboro;
}

.Title{
  cursor: default;
  font-size: 20px;
  
}

.T1{
  display: inline-block;
  margin:0;
  font-size: 30px;
}

.T1:hover{
  cursor: default;
  text-shadow: 2px 2px 5px gray;
}
.T1a:hover{
    color: orange
}
.T1b:hover{
    color: hotpink
}
.T1c:hover{
    color: mediumpurple
}
.T1d:hover{
  color: 		lightskyblue
}
.T1e:hover{
    color: 	limegreen
}

/*slide show*/
.show-box{
   position: relative;
}
#digital-paintings > .show-box{
  height: 480px;
  width: 800px;
}
#digital-paintings > .show-box > .slide > .slide-box {
  height: 480px;
  width: 800px;
}
#digital-paintings > .show-box > .slide-btn{
  height: 450px;
}
#original-characters > .show-box{
  height: 480px;
  width: 800px;
}
#original-characters > .show-box > .slide > .slide-box {
  height: 480px;
  width: 840px;
}
#original-characters  > .show-box > .slide-btn{
  height: 420px;
}

.slide{
  position: absolute;
  display: flex;
  transform: 0px;
  transition: transform 0.3s ease-out ;
}
.slide-btn{
  border: none;
  font-size:25px;
  width: 835px;
  color: black;
  background: transparent;
  align-items: center;
}

.slide-left{
  position: absolute;
  left:-800px; 
  display: flex;
  justify-content: flex-end;
}
.slide-right{
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
#digital-paintings > .show-box > .slide-right{
  left:765px;
}
#original-characters > .show-box > .slide-right{
  left:805px;
}
.slide-lr{
  background: white;
  padding: 20px;
  border-radius: 50%;
}
.slide-btn:disabled{
  opacity:0;
}
.slide-btn:not([disabled]){
  opacity: 0.5;
}
.slide-btn:not([disabled]):hover{
  cursor:pointer;
  opacity:1;
}
.slide-btn:not([disabled]):hover .slide-lr{
  animation-name: arrow-btn;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.slide1N{
  opacity:0.3;
}
.slide-box{
transition: opacity 0.3s ease-out ;
}

/*Next Section button*/

.next-section{
  position: absolute;
  right: 25px;
  bottom: 25px;
  border: none;
  border-radius: 50%;
  font-size:18px;
  height:70px;
  width:70px;
  background: white;
  color: gray;
  box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.1);
  transition: color 0.3s ease-out ;

}

.next-section:hover{
  color: black;
  animation-name: arrow-btn;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
.next-section:hover .fa-angle-double-down{
  position: relative;
  animation-name: arrow-down;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

/*photo grid*/
.photo-box{
  display: grid;
  grid-template-areas:
    "l l s s"
    "l l s s";
  justify-items: center;
  align-items: center;
padding: 5px;
}
.photoL{
  grid-area: l;
  width: 410px;
  height: 410px;
  margin: 5px;
  background: #ccc;
  border-radius:10px;
}
.photoS{
  width: 200px;
  height: 200px;
  margin: 5px;
  background: #ccc;
  border-radius:5px;
}
.paint{
background: gray;
}

.b1 > .photo{
background: paleturquoise;
}
.b2 > .photo{
background: PowderBlue;
}
.b3 > .photo{
background: darkseagreen;
}
.b4 > .photo{
background: wheat;
}
.b5 > .photo{
background: mistyrose;
}
#animated-image > .photo-box > .photoL{
  width: 300px;
  height:300px;
padding: 55px;
}

footer{
  background: #38302f;
  height:50px;
  display: flex;
  justify-content: flex-end;
  font-family: 'Neucha', cursive;
}
footer span{
  margin: 15px 40px 15px 0;
  color: #edebeb;
}

@media(max-width: 1200px){
#Tile-box1{
transform: translate(0px, 0px);
}
#Tile-box2{
 transform: translate(0px, 0px);
}
}

@media(max-width: 840px){
  .Tile{
width: 150px;
    margin:5px;
  }
   .Tile> a> .hover-text-box{
    width:150px;
    font-size:25px;
  }
   .photo-box{
  display: grid;
  grid-template-areas:
    "l l"
    "l l"
    "s s"
    "s s";
  }
}
