@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body{
  margin:0;
  background-color: White;
  text-align: center;
  font-family: sans-serif;
}
#navbar{
  background: rgba(80, 80, 80, 0.6);
  position: fixed;
  top:0;
  left:0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#navbar ul{
   margin: 15px 10px 15px 0;
  display: flex;
}
#navbar ul li{
 margin: 0 30px 0 30px;
}
li {
list-style-type: none;
}

a{
  text-decoration:none;
}

#navbar a:link {
color: #edebeb;
}

#navbar a:visited {
color: #edebeb;
}

#navbar a:hover {
color: #ffd6d6;
}

.Title{
  cursor: default;
  font-size: 30px;
  font-family: 'Fredericka the Great', cursive;
}

.T1{
  display: inline-block;
  margin:0;
  font-size: 30px;
}

.T1:hover{
  color: orange;
  cursor: default;
  text-shadow: 2px 2px 5px gray;
}

#welcome-section{
  width: 100%;
  height: 100vh;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
