@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Neucha&display=swap');

body{
  margin:0;
  background-color: White;
  text-align: center;
  font-family: sans-serif;
}
#navbar{
  background: rgba(80, 80, 80, 0.6);
  position: fixed;
  z-index:1;
  top:0;
  left:0;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: 'Neucha', cursive;
}
#navbar ul{
   margin: 15px 10px 15px 0;
  display: flex;
}
#navbar ul li{
 margin: 0 30px 0 30px;
}
li {
list-style-type: none;
}

a{
  text-decoration:none;
}

#navbar a:link {
color: #edebeb;
}

#navbar a:visited {
color: #edebeb;
}

#navbar a:hover {
color: #ffd6d6;
}

section{
  width: 100%;
  height: 100vh;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


h1{
    font-family: 'Fredericka the Great', cursive;
}

.Tile-box{
  display: flex;
  flex-direction: row;
}

#Tile-box1{
transform: translate(-100px, 0px);
}
#Tile-box2{
 transform: translate(100px, 0px);
}

.Tile{
  height: 300px;
  width: 258px;
  margin:15px;
  background: #ccc;
  transform: skew(-15deg);
  overflow:hidden;
  position: relative;
}
.Tile > a > img{
 transform: skew(15deg);
 margin-left: -175px; 
 position: absolute;
  z-index:-2;
   height: 300px;
}
.Tile > a>.hoverbg{
  height: 0px;
  width: 300px;
  background:black;
  position: absolute;
  transition: height 0.2s ease-out 0.1s;
  z-index:-1;
  opacity:0.3;
}

.Tile > a>.hoverbg1{
  top: 0;
  
}
.Tile > a>.hoverbg2{
  bottom: 0;
  
}
.Tile > a:hover >.hoverbg{
  height:150px;
}

.Tile> a> .hover-text-box{
  height: 300px;
  width:258px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index:0;
  position: absolute;
  left:0;
  opacity:0;
  color: white;
  font-size:40px;
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 3px 3px 3px black;
  transition: opacity 0.2s ease-out ;
}
.Tile> a> .hover-text-box>p{
transform: skew(15deg);
}
.Tile > a:hover >.hover-text-box{
  opacity:1;
}

.Title{
  cursor: default;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom:20px;
}

.T1{
  display: inline-block;
  margin:0;
  font-size: 30px;
}

.T1:hover{
  cursor: default;
  text-shadow: 2px 2px 5px gray;
}
.T1a:hover{
    color: orange
}
.T1b:hover{
    color: hotpink
}
.T1c:hover{
    color: mediumpurple
}
.T1d:hover{
  color: 		lightskyblue
}
.T1e:hover{
    color: 	limegreen
}

.photo-box{
  display: grid;
  grid-template-areas:
    "l s s"
    "l s s";
  justify-items: center;
  align-items: center;
padding: 5px;
}
.photoL{
  grid-area: l;
  width: 410px;
  height: 410px;
  margin: 5px;
  background: #ccc;
  border-radius:10px;
}
.photoS{
  width: 200px;
  height: 200px;
  margin: 5px;
  background: #ccc;
  border-radius:5px;
}

#vector-graphic > .photo-box > photo{
background: cornsilk;
}

footer{
  background: #38302f;
  height:50px;
  display: flex;
  justify-content: flex-end;
  font-family: 'Neucha', cursive;
}
footer span{
  margin: 15px 40px 15px 0;
  color: #edebeb;
}

@media(max-width: 1200px){
#Tile-box1{
transform: translate(0px, 0px);
}
#Tile-box2{
 transform: translate(0px, 0px);
}
}

@media(max-width: 840px){
  .Tile{
width: 150px;
    margin:5px;
  }
   .Tile> a> .hover-text-box{
    width:150px;
    font-size:25px;
  }
   .photo-box{
  display: grid;
  grid-template-areas:
    "l l"
    "s s"
    "s s";
  }
}
