@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Neucha&display=swap');

body{
  margin:0;
  background-color: White;
  text-align: center;
  font-family: sans-serif;
}
#navbar{
  background: rgba(80, 80, 80, 0.6);
  position: fixed;
  top:0;
  left:0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: 'Neucha', cursive;
}
#navbar ul{
   margin: 15px 10px 15px 0;
  display: flex;
}
#navbar ul li{
 margin: 0 30px 0 30px;
}
li {
list-style-type: none;
}

a{
  text-decoration:none;
}

#navbar a:link {
color: #edebeb;
}

#navbar a:visited {
color: #edebeb;
}

#navbar a:hover {
color: #ffd6d6;
}

h1{
    font-family: 'Fredericka the Great', cursive;
}

.Tile-box{
  display: flex;
  flex-direction: row;
   width: 85%;
}

#Tile-box1{
  justify-content: flex-start;
}
#Tile-box2{
  justify-content: flex-end;
}

.Tile{
  height: 400px;
  width: 380px;
  background: gray;
  margin: 10px;
  transform: skew(-15deg);
}


.Title{
  cursor: default;
  font-size: 20px;

}

.T1{
  display: inline-block;
  margin:0;
  font-size: 30px;
}

.T1:hover{
  color: orange;
  cursor: default;
  text-shadow: 2px 2px 5px gray;
}

#top{
  width: 100%;
  height: 100vh;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer{
  background: #38302f;
  height:50px;
  display: flex;
  justify-content: flex-end;
  font-family: 'Neucha', cursive;
}
footer span{
  margin: 15px 40px 15px 0;
  color: #edebeb;
}
